@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&family=Poppins:wght@300&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');

body {
    background: linear-gradient(142.38deg, #242F3D 10.35%, #131920 78.24%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    z-index: 1000;

}

.logo {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    margin-left: 30px;
    font-smooth: always;
}

.social-media {
    display: flex;
    margin-right: 0px;
    align-items: center;
}

.social-media li {
    margin-left: 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 9;
    height: 100%;
    z-index: 20;
    overflow: hidden;
    transition-delay: 250ms;
    pointer-events: none;
    -webkit-animation: floatX 6s ease-in-out infinite;
    animation: floatX 6s ease-in-out infinite;
}

.hero-text>div {
    margin-bottom: 16px;
}

.hero-subtitle {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-smooth: always;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    text-transform: uppercase;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    text-transform: uppercase;
}

.hero-title {
    font-family: 'Bodoni Moda', serif;
    color: #F7B661;
    font-size: 130px;
    font-smooth: always;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    line-height: 1;
    pointer-events: none;
}

.hero-description {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    line-height: 1.5;
    font-size: 34px;
    font-smooth: always;
    font-size: 26px;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.hero-subtitle2 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-smooth: always;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    text-transform: uppercase;
}

.hero-title2 {
    font-family: 'Bodoni Moda', serif;
    color: #F7B661;
    line-height: 1.5;
    font-size: 110px;
    font-smooth: always;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    line-height: 1;
}

.hero-description2 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    line-height: 1.5;
    font-size: 34px;
    font-smooth: always;
    font-size: 26px;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.hero-subtitle3 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-smooth: always;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    text-transform: uppercase;
}

.hero-title3 {
    font-family: 'Bodoni Moda', serif;
    color: #F7B661;
    line-height: 1.5;
    font-size: 110px;
    font-smooth: always;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    line-height: 1;
}

.hero-description3 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    line-height: 1.5;
    font-size: 34px;
    font-smooth: always;
    font-size: 26px;
    transform: translateX(-120%);
    transition: all 1000ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}


.scrolldown {
    position: absolute;
    bottom: 0;
    left: 100px;
    overflow: hidden;
    transition: all 1000ms;
    transition-timing-function: ease;
}

.counter {
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    color: #ffffff;
    font-variant-numeric: lining-nums;
    overflow: hidden;
    transform: translateY(200%);
    overflow: hidden;
    transition: all 800ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
}

.counter1 {
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    color: #ffffff;
    font-variant-numeric: lining-nums;
    overflow: hidden;
    transform: translateY(200%);
    overflow: hidden;
    transition: all 800ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
}

.counter2 {
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    color: #ffffff;
    font-variant-numeric: lining-nums;
    overflow: hidden;
    transform: translateY(200%);
    overflow: hidden;
    transition: all 800ms;
    transition-timing-function: ease;
    transition-delay: 250ms;
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 60px !important;
    padding: 0;
}

#fp-nav.fp-left {
    left: 36px !important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 24px 6px !important;
    position: relative;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #ffffff !important;
    border-radius: 0 !important;
    height: 4px !important;
    width: 20px !important;
    border: 0;
    background: #333;
    left: -70px !important;
    top: 50%;
    margin: 0 !important;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 40px !important;
    margin: 0 0 0 0 !important;
    border-radius: 100%;
}

.hero-image {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    transition: all 500ms;
    transition-delay: 100ms;
}

.main-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.first-section {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9;
}

.first-section-image-1 {
    display: flex;
    background-image: url(/images/images-sprites.png);
    background-position: center 0;
    background-repeat: no-repeat;
    width: 1000px;
    height: 975px;
    /* transition: all 250ms; */
    cursor: pointer;
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
    transform: scale(0.7) translateX(0%) translateZ(0px);
}

.first-section-image-1:hover {
    background-image: url(/images/images-sprites.png);
    background-position: center -1050px;
}

.first-section-image-2 {
    display: flex;
    background-image: url(/images/images-sprites.png);
    background-position: center -2100px;
    background-repeat: no-repeat;

    width: 1000px;
    height: 975px;
    cursor: pointer;
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}

.first-section-image-2:hover {
    background-image: url(/images/images-sprites.png);
    background-position: center -3150px;
}

.first-section-image-3 {
    display: flex;
    background-image: url(/images/images-sprites.png);
    background-position: center -4200px;
    background-repeat: no-repeat;
    width: 1000px;
    height: 975px;
    cursor: pointer;
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}

.first-section-image-3:hover {
    background-image: url(/images/images-sprites.png);
    background-position: center -5250px;
}

/* .first-section-image-1{
    position: absolute;
    display: flex;
    justify-content: center;
    width: auto;
    height: 77%;
    height: 90%;
    z-index: 8;
    align-items: center;
    width: 100%;
    height: 90%;
    -webkit-animation: float 6s ease-in-out infinite; 
    animation: float 6s ease-in-out infinite;
} */

.first-section-2 {
    position: absolute;
    width: auto;
    top: 190px;
    padding-left: 61px;
    height: 83%;
    z-index: 8;
    width: 100%;
}

.first-section-3 {
    position: absolute;
    width: auto;
    height: 91%;
    top: 169px;
    z-index: 8;
    width: 100%;
}

.first-section-4 {
    position: absolute;
    width: auto;
    height: 86%;
    z-index: 8;
    width: 100%;
}


.loader {
    position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: #FFF6ED;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

.animsition-overlay-slide {
    background-color: #F7B661 !important;
    z-index: 20 !important;
}




.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 3;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 3;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3;
}

.menu:focus {
    outline: none;
    box-shadow: none;
}

.over-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: linear-gradient(142.38deg, #242F3D 10.35%, #131920 78.24%);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 300ms; 
}

.over-menu-opened {
    transform: translateY(0%);
    transition: all 300ms; 
}

.over-menu-list {
    font-family: 'Bodoni Moda', serif;
    color: #F7B661;
    line-height: 1.5;
    font-size: 5em;
    font-smooth: always;
    text-align: center;
    cursor: pointer;
}

.over-menu-list li {
    overflow: hidden;
}

@-webkit-keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}


@-webkit-keyframes floatX {
    0% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(-20px);
    }

    100% {
        transform: translatex(0px);
    }
}

@keyframes floatX {
    0% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(-20px);
    }

    100% {
        transform: translatex(0px);
    }
}



@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    .hero-subtitle {
        font-size: 16px;
    }

    .hero-title {
        font-size: 58px;
    }

    .hero-description {
        font-size: 22px;
    }

    .hero-subtitle2 {
        font-size: 16px;
    }

    .hero-title2 {
        font-size: 52px;
    }

    .hero-description2 {
        font-size: 28px;
    }

    .hero-subtitle3 {
        font-size: 16px;
    }

    .hero-title3 {
        font-size: 58px;
    }

    .hero-description3 {
        font-size: 22px;
    }
}

@media (max-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */


    .hero-subtitle {
        font-size: 16px;
    }

    .hero-title {
        font-size: 58px;
    }

    .hero-description {
        font-size: 22px;
    }

    .hero-subtitle2 {
        font-size: 16px;
    }

    .hero-title2 {
        font-size: 52px;
    }

    .hero-description2 {
        font-size: 28px;
    }

    .hero-subtitle3 {
        font-size: 16px;
    }

    .hero-title3 {
        font-size: 58px;
    }

    .hero-description3 {
        font-size: 22px;
    }

    .hero-text {
        top: -220px;
        left: 20px;
    }

    .counter {
        font-size: 60px;
        bottom: 100px;
        right: 10px;

    }

    .counter1 {
        font-size: 60px;
        bottom: 100px;
        right: 10px;
    }

    .counter2 {
        font-size: 60px;
        bottom: 100px;
        right: 10px;
    }

    .scrolldown {
        left: 30px;
    }

}

@media (max-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */

    .hero-text {
        top: -120px;
    }
}